%h1 Listing logs

%table
  %tr
    %th Show
    %th Start
    %th End
    %th Pre recorded
    %th
    %th
    %th

  - @logs.each do |log|
    %tr
      %td= log.show_id
      %td= log.start
      %td= log.end
      %td= log.pre_recorded
      %td= link_to 'Show', log
      %td= link_to 'Edit', edit_log_path(log)
      %td= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Log', new_log_path
