%p#notice= notice

%p
  %b Show:
  = @log.show_id
%p
  %b Start:
  = @log.start
%p
  %b End:
  = @log.end
%p
  %b Pre recorded:
  = @log.pre_recorded

= link_to 'Edit', edit_log_path(@log)
\|
= link_to 'Back', logs_path
