!!! 5
%html
  %head
    %title Log DB
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Neuton:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:bold", :rel => "stylesheet", :type => "text/css"}
    = include_stylesheets :screen, :media => 'screen, projection'
    = include_stylesheets :print, :media => 'print'
    /[if lt IE 8]
      = include_stylesheets :ie, :media => 'screen, projection'
    - if user_signed_in?
      = include_javascripts :main

    = csrf_meta_tag  
  %body.bp
    #container
      #content
        %header
          = link_to "Sign Out", sign_out_path
          |
          = link_to "Feedback", "#"
          %h1 
            = link_to "Log DB", root_path
        - [:error, :notice, :success, :alert].select {|f| flash[f].present? }.each do |f|
          %div(class=f)
            = flash[f]

        = yield
        #container_footer &nbsp;
    #footer
      <p>Copyright 2011 CKUT. Problems? Tell us about it!</p>
