!!! 5
%html
  %head
    %title LOGDB
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Neuton:regular,bold", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin:bold", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = include_javascripts :main
    = csrf_meta_tag  
  %body.bp
    #container
      #header
        %h1 
          = link_to "LOGDB", root_path
      #content
        - [:error, :notice, :success, :alert].select {|f| flash[f].present? }.each do |f|
          %div(class=f)
            = flash[f]

        = yield
        #container_footer &nbsp;
    #footer
      <p>Copyright 2011 CKUT. Problems? Tell us about it!</p>
